:root {
  /* Colors */
  --c-background: #e5e5e5;
  --c-white: #ffffff;
  --c-blue: #2196e3;
  --c-light-blue: #2196f3;
  --c-black: #000000;
  --c-dark: #212121;
  --c-boulder: #757575;
  --c-gray: #afb1b8;
  --c-colordesc: #2f303a;
  --c-colorteam: #f5f4fa;
  /* Fonts */
  --font-roboto: "Roboto", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  /* Sizes */
  --max-container-width: 1200px;
  --container-padding: 0 15px;
  --section-padding: 94px 0;
  --section-padding-mobile: 60px 0;
}
