.project {
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    @include min(768) {
      justify-content: flex-start;
    }

    @include max(1199) {
      justify-content: center;
    }
  }

  &__item {
    background-color: var(--c-white);
    margin-left: 30px;
    margin-top: 30px;

    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      cursor: pointer;

      .project__overlay {
        transform: translateY(0);
      }
    }
  }

  &__image-wrapper {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    transform: translateY(101%);
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    color: #fff;
  }

  &__title {
    color: var(--c-dark);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
  }

  &__description {
    color: var(--c-boulder);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
  }

  &__text {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
    color: #0000ff;
  }
}
